/* CSS for Standard Banner block layouts */

/* Structure */

.sb-layout-1,
.sb-layout-2,
.sb-layout-3,
.sb-layout-4 {
  display: grid;
  word-wrap: break-word;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

/* Images */

.sb-layout-1 .field--name-sb-banner-a-image,
.sb-layout-2 .field--name-sb-banner-a-image,
.sb-layout-3 .field--name-sb-banner-a-image,
.sb-layout-4 .field--name-sb-banner-a-image {
  grid-column: 1/4;
  grid-row: 1/5;
}

.field--name-sb-banner-a-image img,
.field--name-sb-banner-b-image img,
.field--name-sb-banner-c-image img,
.field--name-sb-banner-d-image img,
.field--name-sb-banner-e-image img,
.field--name-sb-banner-f-image img,
.field--name-sb-banner-g-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.sb-layout-2 .field--name-sb-banner-b-image,
.sb-layout-3 .field--name-sb-banner-b-image,
.sb-layout-4 .field--name-sb-banner-b-image {
  grid-column: 4;
  grid-row: 1/3;
  padding: 0 5px;
}

.sb-layout-2 .field--name-sb-banner-c-image,
.sb-layout-3 .field--name-sb-banner-c-image,
.sb-layout-4 .field--name-sb-banner-c-image {
  grid-column: 4;
  grid-row: 3/5;
  padding: 0 5px;
}

.field--name-sb-banner-c-image {
  margin-bottom: -5px;
}

.field--name-sb-banner-c-image img {
  padding-bottom: 5px;
}

.sb-layout-3 .field--name-sb-banner-d-image {
  grid-column: 1/3;
  grid-row: 5;
  margin-top: 5px;
}

.sb-layout-3 .field--name-sb-banner-e-image {
  grid-column: 3/5;
  grid-row: 5;
  padding: 0 5px;
  margin-top: 5px;
}

.field--name-sb-banner-a-image img {
  max-height: 400px;
}

.sb-layout-3 .field--name-sb-banner-d-image img,
.sb-layout-3 .field--name-sb-banner-e-image img,
.field--name-sb-banner-b-image img,
.field--name-sb-banner-c-image img {
  max-height: 200px;
}

.sb-layout-4 {
  text-align: center;
}

.sb-layout-4 .sb-banner-square-d {
  grid-column: 1;
  grid-row: 5;
  justify-self: center;
}

.sb-layout-4 .sb-banner-square-e {
  grid-column: 2;
  grid-row: 5;
  justify-self: center;
}

.sb-layout-4 .sb-banner-square-f {
  grid-column: 3;
  grid-row: 5;
  justify-self: center;
}

.sb-layout-4 .sb-banner-square-g {
  grid-column: 4;
  grid-row: 5;
  justify-self: center;
}

.sb-layout-4 .sb-banner-square-d,
.sb-layout-4 .sb-banner-square-e,
.sb-layout-4 .sb-banner-square-f,
.sb-layout-4 .sb-banner-square-g {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-top: 5px;
  margin-right: 5px;
}

.sb-layout-4 .sb-banner-square-d:hover .field--name-sb-banner-d-headline,
.sb-layout-4 .sb-banner-square-e:hover .field--name-sb-banner-e-headline,
.sb-layout-4 .sb-banner-square-f:hover .field--name-sb-banner-f-headline,
.sb-layout-4 .sb-banner-square-g:hover .field--name-sb-banner-g-headline,
.sb-layout-4 .sb-banner-square-d:active .field--name-sb-banner-d-headline,
.sb-layout-4 .sb-banner-square-e:active .field--name-sb-banner-e-headline,
.sb-layout-4 .sb-banner-square-f:active .field--name-sb-banner-f-headline,
.sb-layout-4 .sb-banner-square-g:active .field--name-sb-banner-g-headline,
.sb-layout-4 .sb-banner-square-d a:focus .field--name-sb-banner-d-headline,
.sb-layout-4 .sb-banner-square-e a:focus .field--name-sb-banner-e-headline,
.sb-layout-4 .sb-banner-square-f a:focus .field--name-sb-banner-f-headline,
.sb-layout-4 .sb-banner-square-g a:focus .field--name-sb-banner-g-headline {
  opacity: 1;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sb-layout-4 .sb-banner-square-d a:focus,
.sb-layout-4 .sb-banner-square-e a:focus,
.sb-layout-4 .sb-banner-square-f a:focus,
.sb-layout-4 .sb-banner-square-g a:focus {
  border: 5px solid blue;
}

.sb-layout-4 .sb-banner-square-d img,
.sb-layout-4 .sb-banner-square-e img,
.sb-layout-4 .sb-banner-square-f img,
.sb-layout-4 .sb-banner-square-g img {
  min-height: 150px;
  display: block;
  max-width: 100%;
}

/* Headlines and captions */

.field--name-sb-banner-a-headline,
.field--name-sb-banner-b-headline,
.field--name-sb-banner-c-headline,
.sb-layout-3 .field--name-sb-banner-d-headline,
.sb-layout-3 .field--name-sb-banner-e-headline {
  background-color: rgba(0,0,0,.6);
  color: white;
  width: fit-content;
  padding: 10px;
  font-weight: bold;
}

.field--name-sb-banner-a-headline {
  grid-column: 1;
  grid-row: 2;
  place-self: center;
  box-shadow: 5px 5px 5px black;
  font-size: 35px;
  border-radius: 30px;
  margin-left: 20px;
}

.field--name-sb-banner-a-caption {
  grid-column: 1;
  grid-row: 3;
  place-self: end;
  margin-top: 15px;
  background-color: rgba(0,0,0,.6);
  color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 30px;
  font-size: 25px;
  box-shadow: 5px 5px 5px black;
  max-width: 500px;
  margin-left: 20px;
}

.field--name-sb-banner-b-headline {
  grid-column: 4;
  grid-row: 1;
  justify-self: center;
  align-self: start;
  font-size: 12px;
  max-width: 300px;
}

.field--name-sb-banner-c-headline {
  grid-column: 4;
  grid-row: 3;
  justify-self: center;
  align-self: start;
  font-size: 12px;
  max-width: 300px;
}

/* Buttons */

.field--name-sb-banner-a-url {
  grid-column: 3;
  grid-row: 3;
  justify-self: center;
  align-self: end;
}

.field--name-sb-banner-b-url {
  grid-column: 4;
  grid-row: 2;
  place-self: center;
}

.field--name-sb-banner-c-url {
  grid-column: 4;
  grid-row: 4;
  place-self: center;
}

.sb-layout-3 .field--name-sb-banner-d-url {
  grid-column: 2;
  grid-row: 5;
  place-self: end;
  padding-right: 5px;
  margin-bottom: 10px;
}

.sb-layout-3 .field--name-sb-banner-e-url {
  grid-column: 4;
  grid-row: 5;
  place-self: end;
  padding-right: 10px;
  margin-bottom: 10px;
}

.field--name-sb-banner-a-url a,
.field--name-sb-banner-b-url a,
.field--name-sb-banner-c-url a,
.field--name-sb-banner-d-url a,
.field--name-sb-banner-e-url a {
  background-color: #3734eb;
  color: white;
  width: fit-content;
  padding: 5px;
  border-radius: 30px;
  font-size: 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  transition: 220ms all ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.field--name-sb-banner-a-url a:hover,
.field--name-sb-banner-b-url a:hover,
.field--name-sb-banner-c-url a:hover,
.field--name-sb-banner-d-url a:hover,
.field--name-sb-banner-e-url a:hover {
  background-color: #5a58ee;
  color: white;
}

.sb-layout-3 .field--name-sb-banner-d-headline {
  grid-column: 1;
  grid-row: 5;
  height: fit-content;
  justify-self: start;
  align-self: end;
}

.sb-layout-3 .field--name-sb-banner-e-headline {
  grid-column: 3;
  grid-row: 5;
  height: fit-content;
  justify-self: start;
  align-self: end;
  position: relative;
  left: 5px;
}

.sb-layout-4 .field--name-sb-banner-d-headline,
.sb-layout-4 .field--name-sb-banner-e-headline,
.sb-layout-4 .field--name-sb-banner-f-headline,
.sb-layout-4 .field--name-sb-banner-g-headline {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  transition: all 0.4s ease-in-out .2s;
}

/* Styling for Form */

.standard-block-banner-form #edit-layout .form-item--layout {
  display: inline-block;
}


/* Tablet/mobile styles */

@media (max-width: 500px) {
  .field--name-sb-banner-a-headline {
    font-size: 20px;
    grid-column: 1/3;
    grid-row: 1;
  }
  .field--name-sb-banner-a-caption {
    grid-column: 1/3;
    font-size: 13px;
    grid-row: 2;
  }
  .field--name-sb-banner-a-url {
    grid-column: 3;
    grid-row: 4;
    margin: 0 10px 10px 0;
  }
  .field--name-sb-banner-a-url a,
  .field--name-sb-banner-b-url a,
  .field--name-sb-banner-c-url a,
  .field--name-sb-banner-d-url a,
  .field--name-sb-banner-e-url a {
    padding: 3px;
    text-align: center;
    font-size: 12px;
  }
  .sb-layout-3 .field--name-sb-banner-e-headline,
  .sb-layout-3 .field--name-sb-banner-d-headline {
    font-size: 13px;
  }
  .sb-layout-2 .field--name-sb-banner-a-image,
  .sb-layout-3 .field--name-sb-banner-a-image,
  .sb-layout-4 .field--name-sb-banner-a-image {
    grid-column: 1/5;
  }
  .sb-layout-2 .field--name-sb-banner-a-url,
  .sb-layout-3 .field--name-sb-banner-a-url,
  .sb-layout-4 .field--name-sb-banner-a-url {
    grid-column: 4;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .sb-layout-2 .field--name-sb-banner-b-image,
  .sb-layout-3 .field--name-sb-banner-b-image,
  .sb-layout-4 .field--name-sb-banner-b-image {
    grid-column: 1/3;
    grid-row: 5;
  }
  .sb-layout-2 .field--name-sb-banner-b-headline,
  .sb-layout-3 .field--name-sb-banner-b-headline,
  .sb-layout-4 .field--name-sb-banner-b-headline {
    grid-column: 1/3;
    grid-row: 5;
  }
  .sb-layout-2 .field--name-sb-banner-b-url,
  .sb-layout-3 .field--name-sb-banner-b-url,
  .sb-layout-4 .field--name-sb-banner-b-url {
    grid-column: 2;
    grid-row: 5;
  }
  .sb-layout-2 .field--name-sb-banner-c-image,
  .sb-layout-3 .field--name-sb-banner-c-image,
  .sb-layout-4 .field--name-sb-banner-c-image {
    grid-row: 5;
    grid-column: 3/5;
  }
  .sb-layout-2 .field--name-sb-banner-c-headline,
  .sb-layout-3 .field--name-sb-banner-c-headline,
  .sb-layout-4 .field--name-sb-banner-c-headline {
    grid-column: 3/5;
    grid-row: 5;
  }
  .sb-layout-2 .field--name-sb-banner-c-url,
  .sb-layout-3 .field--name-sb-banner-c-url,
  .sb-layout-4 .field--name-sb-banner-c-url {
    grid-column: 4;
    grid-row: 5;
  }
  .sb-layout-3 .field--name-sb-banner-d-image,
  .sb-layout-4 .field--name-sb-banner-d-image {
    grid-row: 6;
  }
  .sb-layout-3 .field--name-sb-banner-d-headline,
  .sb-layout-4 .field--name-sb-banner-d-headline {
    grid-row: 6;
    align-self: start;
    grid-column: 1/3;
    justify-self: center;
  }
  .sb-layout-3 .field--name-sb-banner-d-url,
  .sb-layout-4 .field--name-sb-banner-d-url {
    grid-row: 6;
  }
  .sb-layout-3 .field--name-sb-banner-e-image,
  .sb-layout-4 .field--name-sb-banner-e-image {
    grid-row: 6;
  }
  .sb-layout-3 .field--name-sb-banner-e-headline,
  .sb-layout-4 .field--name-sb-banner-e-headline {
    grid-row: 6;
    align-self: start;
    grid-column: 3/5;
    justify-self: center;
  }
  .sb-layout-3 .field--name-sb-banner-e-url,
  .sb-layout-4 .field--name-sb-banner-e-url {
    grid-row: 6;
  }
  .sb-layout-4 .sb-banner-square-d,
  .sb-layout-4 .sb-banner-square-e,
  .sb-layout-4 .sb-banner-square-f,
  .sb-layout-4 .sb-banner-square-g {
    grid-row: 6;
  }
  .sb-layout-4 .field--name-sb-banner-d-headline,
  .sb-layout-4 .field--name-sb-banner-e-headline,
  .sb-layout-4 .field--name-sb-banner-f-headline,
  .sb-layout-4 .field--name-sb-banner-g-headline {
    font-size: 11px;
    opacity: 1;
  }
}

@media (min-width:501px) and (max-width: 900px) {
  .sb-layout-4 .field--name-sb-banner-d-headline,
  .sb-layout-4 .field--name-sb-banner-e-headline,
  .sb-layout-4 .field--name-sb-banner-f-headline,
  .sb-layout-4 .field--name-sb-banner-g-headline {
    opacity: 1;
  }
}
