{% extends "block.html.twig" %}
    {#
    /**
     * @file
     * Theme override for a Standard Banner block.
     *
     * Available variables:
     * - layout: Layout tag for setting up correct styles in Standard Banner block.
     * - content: Content of the Standard Banner block. (access like this: {{ content.sb_banner_a_headline.0 }})
     */
    #}
    {% block content %}
        
    <div class="{{ layout }}">
        {% if layout != 'sb-layout-4' %}
    {{ content }}
        {% endif %}
        {% if layout == 'sb-layout-4' %}
            {{ content.sb_banner_a_image }}
            {{ content.sb_banner_a_headline }}
            {{ content.sb_banner_a_caption }}
            {{ content.sb_banner_a_url }}
            {{ content.sb_banner_b_image }}
            {{ content.sb_banner_b_headline }}
            {{ content.sb_banner_b_url }}
            {{ content.sb_banner_c_image }}
            {{ content.sb_banner_c_headline }}
            {{ content.sb_banner_c_url }}
            <div class="sb-banner-square-d">
                <a href="{{ sb_banner_d_link }}">
                    {{ content.sb_banner_d_image }}
                    {{ content.sb_banner_d_headline }}
                </a>
            </div>
            <div class="sb-banner-square-e">
                <a href="{{ sb_banner_e_link }}">
                    {{ content.sb_banner_e_image }}
                    {{ content.sb_banner_e_headline }}
                </a>
            </div>
            <div class="sb-banner-square-f">
                <a href="{{ sb_banner_f_link }}">
                    {{ content.sb_banner_f_image }}
                    {{ content.sb_banner_f_headline }}
                </a>
            </div>
            <div class="sb-banner-square-g">
                <a href="{{ sb_banner_g_link }}">
                    {{ content.sb_banner_g_image }}
                    {{ content.sb_banner_g_headline }}
                </a>
            </div>
        {% endif %}
    </div>
    {% endblock %}
